@model WebApplication1.Models.Route

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 style="color:lightgrey">Edit Route</h3>
<hr />
<p style="color:crimson"> @ViewData["Err"]</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RouteId" />
            <div class="form-group">
                <label asp-for="DepartureId" class="control-label">Departure</label>
                <select asp-for="DepartureId" class="form-control" asp-items="ViewBag.AirportId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalId" class="control-label">Arrival</label>
                <select asp-for="ArrivalId" class="form-control" asp-items="ViewBag.AirportId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ETA" class="control-label">ETA</label>
                <input asp-for="ETA" class="form-control" />
                <span asp-validation-for="ETA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@*
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
*@
