@model WebApplication1.Models.Airplane

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Airplane</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessRowNo" class="control-label"></label>
                <input asp-for="BusinessRowNo" class="form-control" />
                <span asp-validation-for="BusinessRowNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessColumnNo" class="control-label"></label>
                <input asp-for="BusinessColumnNo" class="form-control" />
                <span asp-validation-for="BusinessColumnNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EconomyRowNo" class="control-label"></label>
                <input asp-for="EconomyRowNo" class="form-control" />
                <span asp-validation-for="EconomyRowNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EconomyColumnNo" class="control-label"></label>
                <input asp-for="EconomyColumnNo" class="form-control" />
                <span asp-validation-for="EconomyColumnNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuperCheapRowNo" class="control-label"></label>
                <input asp-for="SuperCheapRowNo" class="form-control" />
                <span asp-validation-for="SuperCheapRowNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuperCheapColumnNo" class="control-label"></label>
                <input asp-for="SuperCheapColumnNo" class="form-control" />
                <span asp-validation-for="SuperCheapColumnNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
