@{
    //Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("WebAdmin") || User.IsInRole("CompAdmin"))
{
    <style>
        .infocolor {
            color: lightslategrey;
        }
        .textcolor {
            color: lightgrey;
        }
    </style>
}
else
{
    <style>
        .infocolor {
            color: black;
        }
        .textcolor {
            color: black;
        }
    </style>
}

<h1 class="textcolor">Manage your account</h1>

<div>
    <h4 class="infocolor">Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9" style="height: 518px; overflow: auto">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
