@page
@model EditModel

@{
    ViewData["Title"] = "Edit address";
    ViewData["ActivePage"] = ManageNavPages.Addresses;
}

@if (User.IsInRole("WebAdmin") || User.IsInRole("CompAdmin"))
{
    <style>

        .textcolor {
            color: lightgrey;
        }
    </style>
}
else
{
    <style>

        .textcolor {
            color: black;
        }
    </style>
}

<h3 class="textcolor">@ViewData["Title"]</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Address.Id" />
            <div class="form-group">
                <label asp-for="Input.Name" class="control-label"> </label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.AddressLine" class="control-label"></label>
                <input asp-for="Input.AddressLine" class="form-control" />
                <span asp-validation-for="Input.AddressLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a asp-page="./AddressIndex">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
