@page
@model CreditcardCreateModel

@{
    ViewData["Title"] = "Create new credit card";
    ViewData["ActivePage"] = ManageNavPages.CreditCards;
}


<h3 style="color:lightgrey">@ViewData["Title"]</h3>
<hr />
<p style="color:crimson"> @ViewData["Err"]</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.CardNumber"> </label>
                <input asp-for="Input.CardNumber" class="form-control" />
                <span asp-validation-for="Input.CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Month"> </label>
                <input asp-for="Input.Month" class="form-control" />
                <span asp-validation-for="Input.Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Year"> </label>
                <input asp-for="Input.Year" class="form-control" />
                <span asp-validation-for="Input.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /> |
                <a asp-page="./CreditCardIndex"> Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}