@page
@model TicketModel
@{
    ViewData["Title"] = "Tickets";
    ViewData["ActivePage"] = ManageNavPages.Tickets;
}

@if (User.IsInRole("WebAdmin") || User.IsInRole("CompAdmin"))
{
    <style>
        .textcolor {
            color: lightgrey;
        }
    </style>
}
else
{
    <style>
        .textcolor {
            color: black;
        }
    </style>
}

<h3 class="textcolor">@ViewData["Title"]</h3>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Panel List Group with Expandable Setail Section</h3>
    </div>
    <ul class="list-group">
        @foreach (var purchase in Model.purchases)
        {
            <li class="list-group-item">
                <div class="row toggle" id="dropdown-detail-1" data-toggle="detail-@(purchase.Id)">
                    <div class="col-xs-10">
                        @(purchase.Tickets.ToList()[0].Flight.Name)     @(purchase.Tickets.ToList()[0].Flight.Date)
                    </div>
                    <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                </div>
                <div id="detail-@(purchase.Id)">
                    <hr></hr>
                    <div class="container">
                        @foreach (var item in purchase.Tickets)
                        {
                            <div class="row">
                                <iframe src="~/Flights/Ticket?id=@(item.Id)" style="border:none;height:240px;width:100%;overflow:hidden"></iframe>
                            </div>
                        }
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('[id^=detail-]').hide();
        $('.toggle').click(function () {
            $input = $(this);
            $target = $('#' + $input.attr('data-toggle'));
            $target.slideToggle();
        });
    });
</script>