@{
    ViewData["Title"] = "Home Page";
}

@if (User.IsInRole("WebAdmin") || User.IsInRole("CompAdmin"))
{
    <style>

        .textcolor {
            color: lightgrey;
        }
    </style>
}
else
{
    <style>
        .textcolor {
            color: black;
        }
    </style>
}

<div class="text-center">
    <h1 class="display-4 textcolor">Welcome to flight ticket webpage</h1>
    <p class="textcolor">You can choose any flight.</p>


</div>

