@{
    ViewData["Title"] = "Privacy Policy";
}


@if (User.IsInRole("WebAdmin") || User.IsInRole("CompAdmin"))
{
    <style>

        .textcolor {
            color: lightgrey;
        }
    </style>
}
else
{
    <style>

        .textcolor {
            color: black;
        }
    </style>
}

<h1 class="textcolor">@ViewData["Title"]</h1>

<p class="textcolor">We don't have any privacy policy.</p>
