@{
    ViewData["Title"] = "Successful";
}

    <div class="text-center">
        <h1 class="display-4">You have completed check-in</h1>
        <hr />
        <h4>You can check your flight and ticket information from your profile</h4>
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Ticket">Click here to go Profile</a>


    </div>
