
@{
    ViewData["Title"] = "Search";
    Layout = "";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.4/dist/latest/bootstrap-autocomplete.min.js"></script>

<style type="text/css">
    .section {
        position: relative;
        height: 100vh;
    }

        .section .section-center {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

    #booking {
        font-family: 'Lato', sans-serif;
        background-image: url('../images/background.jpg');
        background-size: cover;
        background-position: center;
        color: #191a1e;
    }

    .booking-form {
        position: relative;
        background: #fff;
        max-width: 642px;
        width: 100%;
        margin: auto;
        padding: 45px 25px 25px;
        border-radius: 4px;
        -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    }

        .booking-form .form-group {
            position: relative;
            margin-bottom: 20px;
        }

        .booking-form .form-control {
            background-color: #fff;
            height: 65px;
            padding: 0px 15px;
            padding-top: 24px;
            color: #191a1e;
            border: 2px solid #dfe5e9;
            font-size: 16px;
            font-weight: 700;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-radius: 4px;
            -webkit-transition: 0.2s all;
            transition: 0.2s all;
        }

            .booking-form .form-control::-webkit-input-placeholder {
                color: #dfe5e9;
            }

            .booking-form .form-control:-ms-input-placeholder {
                color: #dfe5e9;
            }

            .booking-form .form-control::placeholder {
                color: #dfe5e9;
            }

            .booking-form .form-control:focus {
                background: #f9fafb;
            }

        .booking-form input[type="date"].form-control:invalid {
            color: #dfe5e9;
        }

        .booking-form select.form-control {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

            .booking-form select.form-control + .select-arrow {
                position: absolute;
                right: 6px;
                bottom: 6px;
                width: 32px;
                line-height: 32px;
                height: 32px;
                text-align: center;
                pointer-events: none;
                color: #dfe5e9;
                font-size: 14px;
            }

                .booking-form select.form-control + .select-arrow:after {
                    content: '\279C';
                    display: block;
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                }

        .booking-form .form-label {
            position: absolute;
            top: 6px;
            left: 20px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 24px;
            height: 24px;
            font-size: 12px;
            color: #98c9ee;
        }

        .booking-form .form-checkbox input {
            position: absolute !important;
            margin-left: -9999px !important;
            visibility: hidden !important;
        }

        .booking-form .form-checkbox label {
            position: relative;
            padding-top: 4px;
            padding-left: 30px;
            font-weight: 700;
            color: #191a1e;
        }

            .booking-form .form-checkbox label + label {
                margin-left: 15px;
            }

        .booking-form .form-checkbox input + span {
            position: absolute;
            left: 2px;
            top: 4px;
            width: 20px;
            height: 20px;
            background: #fff;
            border: 2px solid #dfe5e9;
            border-radius: 50%;
        }

            .booking-form .form-checkbox input + span:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 0px;
                height: 0px;
                border-radius: 50%;
                background-color: #4fa3e3;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                -webkit-transition: 0.2s all;
                transition: 0.2s all;
            }

        .booking-form .form-checkbox input:not(:checked) + span:after {
            opacity: 0;
        }

        .booking-form .form-checkbox input:checked + span:after {
            opacity: 1;
            width: 10px;
            height: 10px;
        }

        .booking-form .submit-btn {
            color: #fff;
            background-color: #4fa3e3;
            font-weight: 400;
            height: 65px;
            font-size: 18px;
            border: none;
            width: 100%;
            border-radius: 4px;
            text-transform: uppercase
        }

    .booking-cta {
        margin-top: 45px;
    }

        .booking-cta h1 {
            font-size: 52px;
            text-transform: uppercase;
            color: #4fa3e3;
            font-weight: 400;
        }

        .booking-cta p {
            font-size: 22px;
            color: #191a1e;
        }
</style>

<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="booking-cta">
                        <h1>Book your flight today</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laboriosam numquam at</p>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div class="booking-form">
                        <div class="form-group">
                            <div class="form-checkbox">
                                <label for="roundtrip">
                                    <input type="radio" id="roundtrip" name="flight-type">
                                    <span></span>Roundtrip
                                </label>
                                <label for="one-way">
                                    <input type="radio" id="one-way" name="flight-type">
                                    <span></span>One way
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Flying from</span>
                                    @Html.DropDownList("dest", ViewData["AirportId"] as SelectList, "From", new { required = "required", placeholder = "City or airport", @class = "form-control basicAutoComplete", autocomplete = "on" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Flyning to</span>
                                    @Html.DropDownList("arr", ViewData["AirportId"] as SelectList, "To", new { required = "required", placeholder = "City or airport", @class = "form-control basicAutoComplete", autocomplete = "on" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Departing</span>
                                    <input class="form-control" type="date" id="date"
                                           name="date" value=@ViewData["Date"]
                                           min=@DateTime.Now.ToString("yyyy-MM-dd") max="2100-06-14" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Returning</span>
                                    <input class="form-control" type="date" id="arrival" value=@ViewData["Date"] min="@DateTime.Now.ToString("yyyy-MM-dd")" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="form-label">Adults (18+)</span>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="form-label">Children (0-17)</span>
                                    <select class="form-control">
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="form-label">Travel class</span>
                                    <select class="form-control">
                                        <option>Economy class</option>
                                        <option>Business class</option>
                                        <option>First class</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-btn">
                            <button class="submit-btn" id="btnSearch">Show flights</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modelView">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Move Manager</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">

    $("#btnSearch").click(function () {
        var dest = $("#dest").val();
        var arr = $("#arr").val();
        var date = $("#date").val();
        alert(dest);
        var url = "/Flights/SearchResults?dest=" + dest + "&arr=" + arr + "&date=" + date;
        alert(url);
        $.get(url, function (data) { }).done(function (data) {
            alert(data);
        })
    })

</script>